/*universal*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#logo{
    height: 80px; /*altura*/
}
/*cabeçalho do site*/
header{
    width: 100%; /*largura*/
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    margin: 10px;
}
.menu > ul > li{
    display: inline;
}
.menu > ul > li > a:link{
    text-decoration: none;
    color: #000000;
    padding: 10px;   
}
.menu > ul > li > a:hover{
    border-bottom: 2px solid green;
}
.menu > ul > li > a:active{
    color: green;
    border-bottom: 2px solid green;
    
}
#ativo{
    border-bottom: 2px solid green;
}
#base{
    text-align: center;
}
#Bloco {
    MARGIN-LEFT: 150px;
    BORDER-RADIUS: 45px;
  }
  /*rodape*/
.esquerda{text-align: center; color: #ffffff;}

.cor{color: lightgray;}

footer{
text-align: center;
padding: 20px;
background:darkgreen;
}


footer > p > a{
text-decoration: none;
color: #000000;
}